/* GENERAL STYLES */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  color: lightgrey;
}

p {
  font-size: 0.9rem;
}

h2 {
  font-size: 2rem;
}

/* HEADER STYLES */

header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  align-items: center;
  padding: 14px;
}

.header__icons img {
  height: 45px;
}

.header__list {
  display: flex;
}

.header__list li {
  padding: 16px;
}

.header__list li:hover {
  color: orange;
  transition: color 0.1s 0.2s;
}

/* BANNER STYLES */

.banner {
  display: flex;
  justify-content: flex-start;
  background-color: lightgrey;
  /*height: 500px;*/
}

.banner__photo {
  /*background-image: url("../../resources/media/images/banner.jpg");*/
  /*background-size: cover;*/
  width: 60%;
  /*background-position: top right;*/
  /*margin: 32px 24px;*/
}

.banner__photo img {
  width: 90%;
  padding: 32px 24px;
}

.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  max-width: 450px;
}

.banner__text_element {
  width: 90%;
  color: grey;
  padding: 10px;
}

.banner__button {
  text-align: center;
  width: 90%;
  background-color: grey;
  color: white;
  padding: 8px;
  margin-top: 15px;
}

.banner__button:hover {
  transition: background-color 0.5s linear 0.05s;
  background-color: orange;
}


/* HIGHLIGHTS STYLES */

.highlights {
  display: flex;
}

.highlights__main {
  width: 60%;
  background-color: white;
  border-right: 3px solid lightgrey;
}

.highlights__main img {
  width: 90%;
  padding: 32px 24px 8px 24px;
}

.highlights__misc {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.highlights__text_element {
  width: 90%;
  padding: 10px 24px;
}

.highlights__credits {
  font-size: 0.7rem;
  padding: 10px 24px;
}

.highlights__misc_photo:first-of-type {
/*  padding-top: 32px;*/
}

.highlights__misc_photo {
  width: 35%;
  padding-top: 32px;
  padding-bottom: 0px;
  padding-left: 16px;
}

.highlights__misc_photo img {
  height: auto;
  width: 100%;
}

.highlights__misc_container {
  display: flex;
}

.highlights__misc_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  background-color: white;
}

.highlights__misc_text p {
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text h3 {
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text span {
  font-size: 0.7rem;
  color: aqua;
  padding: 4px;
  padding-left: 16px;
}

/* COURSES STYLES */

.courses__headline {
  margin: 0 auto;
  text-align: center;
  background-color: grey;
  padding: 32px ;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding-left: 72px;
  padding-right: 72px;
}

.courses__subject {
  /*display: flex;
  flex-direction: column;*/
  margin: 16px;
  background-color: white;
  /*height: auto;*/
  width: 350px;
  flex-grow: 2;
  min-height: 380px;
  height: auto;
  /*height: auto;*/
  /*width: 400px;
  height: 300px;*/
}

.courses__subject img {
  width: 100%;
}

.courses__subject h3 {
  padding: 16px;
}

.courses__subject p {
  padding: 8px 16px;
}

.courses__subject p:last-of-type {
  padding-bottom: 24px;
}
