/* GENERAL STYLES */

html {
  font-size: 18px;
}

body {
  font-family: Garamond, sans-serif;
  line-height: 1.4;
  color: lightgrey;
}

p {
  font-size: 0.9rem;
  line-height: 1.6;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

@media screen and (max-width: 710px) {

  html {
    font-size: 15px;
  }
}

/* HEADER STYLES */

header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-right: 16px;
}

/*.header__icons img {
  height: 45px;
}*/

header img {
  height: 2.3rem;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__list li {
  padding: 16px;
}

.header__list li:hover {
  color: orange;
  transition: color 0.1s 0.2s;
}

.mobile {
  display: flex;
  align-items: center;
  display: none;
}

.mobile__none {
  display: none;
}


@media screen and (max-width: 710px) {

.header__icons span {
  display: none;
}

.landscape  {
  display: none;
  z-index: -30;
}

header img {
  height: 1.9rem;
}

.header__nav {
  justify-content: space-around;
}

.mobile {
  display: block;
}

.header__icons    {
  display: none;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header__list{
  background-color: yellow;
}

li.mobile {
  display: flex;
  align-items: center;
}

.mobile__none {
  display: block;
}

}
/* BANNER STYLES */

.banner {
  display: flex;
  justify-content: flex-start;
  background-color: lightgrey;
}

.banner__photo {
  width: 60%;
  padding: 32px 24px;
}

.banner__photo img {
  width: 100%;
}

.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: 32px;
}

.banner__text_element {
  color: grey;
  padding: 10px;
}

.banner__button {
  text-align: center;
  width: 90%;
  background-color: grey;
  color: white;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 32px;
}

.banner__button:hover {
  transition: background-color 0.5s linear 0.05s;
  background-color: orange;
}

@media screen and (max-width: 710px) {

.banner {
  flex-direction: column;
}

.banner__photo {
  width: 100%;
  padding: 0;
}

.banner__text {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.banner__button {
width: 75%;
align-self: center;
}

}


/* HIGHLIGHTS STYLES */

.highlights {
  display: flex;
}

.highlights__main {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: white;
  border-right: 2px solid lightgrey;
  padding-bottom: 32px;
}

.highlights__main_text {
  height: 300px
  padding-bottom: 32px;
}

.highlights__main img {
  width: 100%;
}

.highlights__main_photo {
  padding: 32px 24px 8px 24px;
}

.highlights__misc {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.highlights__text_element {
  padding: 10px 24px;
}

.highlights__credits {
  font-size: 0.7rem;
  padding: 10px 24px;
}

.highlights__misc_photo {
  width: 35%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.highlights__misc_photo img {
  height: auto;
  width: 100%;
}

.highlights__misc_container {
  display: flex;
  border-bottom: 2px solid lightgrey;
}

.highlights__misc_container:first-of-type {
  margin-top: 16px;
}

.highlights__misc_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.highlights__misc_text p {
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text h3 {
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text span {
  color: blue;
  padding: 4px;
  padding-left: 16px;
}

/* COURSES STYLES */

.stripe {
  margin: 0 auto;
  text-align: center;
  background-color: grey;
  padding: 32px 32px 16px 32px ;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding-left: 72px;
  padding-right: 72px;
}

.courses__subject {
  margin: 16px;
  background-color: white;
  width: 350px;
  flex-grow: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
}

.courses__subject img {
  width: 100%;
}

.courses__subject h3 {
  padding: 16px;
}

.courses__subject p {
  padding: 8px 16px;
}

.courses__subject p:last-of-type {
  padding-bottom: 24px;
}

.courses__subject_text {
  height: 180px;
}

/* THESIS STYLES */

.video {
  padding: 32px 24px 8px 24px;
}

.highlights__main video {
  width: 100%;
}

.thesis__headline {
background-color: white;
color: lightgrey;
}

/* FOOTER STYLES */

.footer {
  border-top: 1px solid lightgrey;
  padding: 16px 24px;
  font-size: 0.8rem;
  height: 3rem;
}

.footer_nav {
  float: right;
}

.footer_nav span {
  padding-left: 16px;
}
