/* GENERAL STYLES */

html {
  font-size: 18px;
  font-kerning: normal;
  background-color: #FDFAFE
}

svg {
  fill: currentColor;
}

body {
  font-family: "Lato", Verdana monospace, sans-serif;
  line-height: 1.4;
  /*color: #6B7678;*/
  color: #828081;
}


p {
  font-size: 0.9rem;
  line-height: 1.6;
}

h2 {
  font-family: 'Cinzel', Georgia, serif;
  font-size: 2rem;
  line-height: 1.2;
  color: #545756;
}

h3 {
  font-size: 1.4rem;
  /*color: #7F7D7E;*/
}

@media screen and (max-width: 710px) {

  html {
    font-size: 15px;
  }
}

/* HEADER STYLES */

header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-right: 16px;
}

.header__icons span:first-of-type {
  color: #5E6160;
  font-weight: bold;
}

.header__icons span:first-of-type:hover {
color: #E57775
}

/*.header__icons img {
  height: 45px;
}*/

header img {
  height: 2.3rem;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.header__list li {
  padding: 16px;
}

.header__list li:hover {
  color: #E66057;
  /*text-decoration: underline;*/
  transition: color 0.1s 0.1s;
}

.header__list li:active {
  color: #E92E29;
}

.mobile {
  display: flex;
  align-items: center;
  display: none;
}

.mobile__none {
  display: none;
}


@media screen and (max-width: 710px) {

.header__icons span {
  display: none;
}

.landscape  {
  display: none;
  z-index: -30;
}

header img {
  height: 1.9rem;
}

.header__nav {
  justify-content: space-around;
}

.mobile {
  display: block;
}

.header__icons    {
  display: none;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header__list{
  background-color: yellow;
}

li.mobile {
  display: flex;
  align-items: center;
}

.mobile__none {
  display: block;
}

}
/* BANNER STYLES */

.banner {
  display: flex;
  justify-content: flex-start;
  /*background-color: #DDE3E1;*/
  background: linear-gradient(#DDE3E1, #DDE3A4);
  background-attachment: fixed;
}

.banner__photo {
  width: 60%;
  padding: 32px 24px;
}

.banner__photo img {
  width: 100%;
}

.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 32px 32px 32px 0px;
}

.banner__text_element {
  padding: 10px;
  margin-left: 24px;
}

.banner__button {
  text-align: center;
  width: 90%;
  background-color: #E57775;
  color: white;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 32px;
  margin-left: 24px;
  box-shadow: 1px 1px #DDE3E1;
  letter-spacing: 1px;
}


.banner__button:hover {
  transition: background-color 0.1s ease-in-out 0.05s;
  /*background-color: #E66057;*/
  background-color: #C2312B;
}

.banner__button:active {
  box-shadow: none;
  background-color: #E92E29;
  transition: background-color 0.1s, box-shadow 0.5s;
  margin-top: 17px;
  margin-left: 25px;
  margin-bottom: 30px;
}



@media screen and (max-width: 710px) {

.banner {
  flex-direction: column;
}

.banner__photo {
  width: 100%;
  padding: 0;
}

.banner__text {
  width: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.banner__button {
width: 100%;
align-self: center;
margin-left: 16px;
margin-right: 16px;
padding: 8px 0px;
}

.banner__button:active {
margin-left: 17px;
margin-right: 15px;
}

}


/* HIGHLIGHTS STYLES */

.highlights {
  display: flex;
}

.highlights__main {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-right: 1px solid #DDE3E1;
  padding-bottom: 32px;
}

.highlights__main_text {
  height: 300px
  padding-bottom: 32px;
}

.highlights__main img {
  width: 100%;
  /*border-radius: 5px;*/
}

.highlights__main_photo {
  padding: 32px 24px 8px 24px;
}

.highlights__misc {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.highlights__text_element {
  padding: 10px 24px;
}

.highlights__credits {
  font-size: 0.7rem;
  padding: 10px 24px;
  font-weight: bold;
  color: #545756;
}

.highlights__misc_photo {
  width: 35%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.highlights__misc_photo img {
  height: auto;
  border-radius: 5px;
  width: 100%;
}

.highlights__misc_container {
  display: flex;
  border-top: 1px solid #DDE3E1;
  /*border-bottom: 2px solid lightgrey;*/
}

.highlights__misc_container:first-of-type {
  margin-top: 16px;
  border-top: none;
}

.highlights__misc_container:hover {
  background-color: #DDE3E1;
  /*border-radius: 9px 9px*/
}

.highlights__misc_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.highlights__misc_text p {
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text h3 {
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text span {
  /*color: #2CB1BF;*/
  color: #377ACF;
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text span:hover {
  color: #0CB1FF;
}

.highlights__misc_text span:active {
  /*color: #377ACF;*/
  color: #E57775;
}



@media screen and (max-width: 710px) {

.highlights__main {
  display: none;
}

.highlights__misc {
  width: 100%;
}

.highlights__misc_container {
  flex-direction: column;
}

.highlights__misc_container:hover {
  border-radius: 0px;
  background-color: #F1F7F5;
}

.highlights__misc_photo {
  padding-right: 16px;
  width: inherit;
}

.highlights__misc_photo img {
  border-radius: 9px;
}

.highlights__misc_container:first-of-type {
  margin-top: 0px;
}

.highlights__misc_text {
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 16px;
}


}

/* COURSES STYLES */

.stripe {
  margin: 0 auto;
  text-align: center;
  background-color: #DDE3E1;
  padding: 32px 32px 16px 32px ;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /*background-color: #DDE3E1;*/
  background: linear-gradient(#DDE3E1, #DDE3BF);
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 32px;
}

.courses__subject {
  margin: 16px;
  background-color: #FDFAFE;
  width: 350px;
  flex-grow: 1.8;
  height: auto;
  border-radius: 9px 9px;
}

.courses__subject:hover {
  /*color: grey;*/
}


.courses__subject:last-child {
  margin-bottom: 16px;
}

.courses__subject img {
  width: 100%;
  border-radius: 9px 9px 0px 0px;
}

.courses__subject h3 {
  padding: 16px;
}

.courses__subject p {
  padding: 8px 16px;
}

.courses__subject p:last-of-type {
  padding-bottom: 24px;
}

.courses__subject_text {
  height: 180px;
  padding-bottom: 12px;
}

.courses__subject_text:hover {
  background-color: #FBFAEA;
  border-radius: 9px 9px;
  transition: 0.1s 0.05s;
  color: #E57775;
}

.courses__subject_text p {
  color: #828081;
}

@media screen and (max-width: 930px) {

.courses {
  padding-left: 32px;
  padding-right: 32px;
}

.courses__subject {
  flex-grow: 1;
  width: 280px;
  padding-bottom: 32px;
}

}


@media screen and (max-width: 710px) {

.courses {
  padding: 16px 16px 32px 16px;
}

.courses__subject {
  margin: 8px;
  width: 350px;
  box-shadow: 1px 1px #B8BDBB;
}

.courses__subject_text {
  height: auto;
  text-align: left;
  border-radius: 9px;
}

.courses__subject_text:hover {
  transition: 0.1s 0.05s;
}

.courses__subject:active {
  box-shadow: 0px 0px;
  margin-top: 9px;
  margin-bottom: 7px;
  margin-left: 9px;
  margin-right: 8px;*/
}

.courses__subject_text p {
  display: none;
}

.courses__subject:last-child:active {
  margin-bottom: 15px;
}

}

/* THESIS STYLES */

.video {
  padding: 32px 24px 8px 24px;
  border-right: none;
}

.highlights__main video {
  width: 100%;
}

.thesis__headline {
background-color: #FDFAFE;
color: lightgrey;
}

@media screen and (max-width: 710px) {

.thesis__headline h2 {
  padding-top: 24px;
  padding-bottom: 16px;
}

.highlights__misc.landscape {
display: none;
}

.highlights__main.video {
  display: block;
  width: 100%;
  padding: 0px;
  border: none;
  padding-bottom: 16px;
}

}


/* FOOTER STYLES */

.footer {
  border-top: 1px solid #DDE3E1;
  padding: 16px 24px;
  font-size: 0.8rem;
  height: 3rem;
}

.footer_nav {
  float: right;
}

.footer_nav span {
  padding-left: 16px;
}

@media screen and (max-width: 710px) {
  .footer {
    text-align: center;
    padding: 16px;
    height: auto;
  }

}
